body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    font-family: 'Inter';
    overflow-y: hidden;
}


.d-none {
    display: none !important;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 80px 100px;
}


.headerRight {
    width: 279px;
    height: 51px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button {
    background-color: rgb(42, 54, 71);
    color: white;
    border-radius: 8px;
    height: 100%;
    width: 91px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: 150ms ease-in-out;
}


button:hover {
    background-color: #29ABE2;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}


.sendEmailButton {
    height: 51px;
    width: 264px;
}


.logo {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
    z-index: 100;
}


.imgLogo {
    top: 80px !important;
    left: 100px !important;
    transform: none !important;
    width: 100px !important;
    height: 122px !important;
}


.contentbox {
    display: flex;
    justify-content: center;
}


.content {
    background-color: #FFFFFF;
    width: 652px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.front-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 50px;
}


.forgotPW {
    width: 832px !important;
    margin-top: 80px;
}


.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 41px;
    width: 100%;
}


.imgHeadingContainer {
    width: 32px;
    height: 32px;
}


.backArrow {
    background-image: url("../assets/img/logInSignUp/backArrow.svg");
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: center;
}


.backArrow:hover {
    background-image: url("../assets/img/logInSignUp/backArrowHover.svg");
}


#startBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F6F7F8;
    transition: 500ms;
}


.blueSeperator {
    background-color: #29ABE2;
    width: 150px;
    height: 3px;
}


h1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}


h2 {
    font-size: 20px;
    font-weight: 400;
    width: 86%;
    text-align: center;
    margin: 0;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}


.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}


.inputField {
    display: flex;
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 21px;
    padding-top: 5px;
    font-size: 20px;
}


input {
    width: 380px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    outline: none;
}


input::placeholder {
    color: #D1D1D1;
    font-size: 20px;
}


.inputField:focus-within {
    border: 1px solid #29ABE2;
}


.redInput {
    border: 1px solid #ff8190;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


.checkBoxLogIn {
    display: flex;
    align-items: center;
    gap: 8px;
}


.checkBoxSignIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-right: -30px;
}


.rememberMeForgetBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}


.rememberMeForgetBox a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}


#fmp:hover {
    text-decoration: underline 2px;
}


.logInButtonBox {
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
}


.logInButton {
    width: 145px;
    height: 51px;
}


.continueButton {
    width: 264px;
    height: 51px;
    margin-top: 32px;
}


.guestLogIn {
    color: #2A3647;
    background-color: white;
    border: 1px solid #2A3647;
}


.guestLogIn:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    background-color: white;
}


.passwordImage {
    cursor: pointer;
}


#rememberMe {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.checkBox {
    background-image: url('../assets/img/logInSignUp/checkedButton.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.checkBox:hover {
    background-image: url('../assets/img/logInSignUp/checkedButtonHover.svg');
}


.uncheckBox {
    background-image: url('../assets/img/logInSignUp/uncheckButton.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.uncheckBox:hover {
    background-image: url('../assets/img/logInSignUp/uncheckedButtonHover.svg');
}


input[type="checkbox"] {
    appearance: none;
    /* Standard */
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari und Chrome */
    -o-appearance: none;
    /* Opera */
}


/* Styling für die Checkbox hinzu */
input[type="checkbox"] {
    background-image: url("../assets/img/logInSignUp/uncheckButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/* Benutzerdefiniertes Styling für die Checkbox, wenn sie ausgewählt ist */
input[type="checkbox"]:checked {
    background-image: url("../assets/img/logInSignUp/checkedButton.svg");
    width: 24px !important;
    height: 24px !important;
    background-position: center !important;
}


input[type="checkbox"]:checked:hover {
    background-image: url('../assets/img/logInSignUp/checkedButtonHover.svg');
}


footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}


footer a {
    font-size: 16px;
    color: rgb(168, 168, 168);
    text-decoration: none;
    font-weight: 400;
}


footer a:hover {
    color: rgba(41, 171, 226, 1);
    font-weight: 700;
}


#passwordAlert {
    color: rgb(255, 129, 144);
    margin-top: -30px;
    margin-right: 190px;
    margin-bottom: -40px;
    font-size: 13px;
    height: 25px;
}


#emailAlert {
    color: rgb(255, 129, 144);
    margin-top: -30px;
    margin-right: 270px;
    margin-bottom: -40px;
    font-size: 13px;
    height: 25px;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 74px;
    background-color: #2A3647;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    position: absolute;
    top: calc(50% - 74px/2);
    left: calc(50% - 345px/2);
    transform: translateY(1000px);
    gap: 5px;
}


.banner.visible {
    transform: none;
    transition: transform 0.5s ease-in-out;
}


/* max-width: 810px */

@media(max-width: 870px) {
    .forgotPW {
        width: 600px !important;
        text-align: center;
    }
}


/* max-width: 680px */

@media(max-width: 680px) {
    .headingContainer {
        width: 85%;
    }

    .content {
        width: 396px;
        gap: 20px;
    }

    .forgotPW {
        width: 396px !important;
    }

    .contentbox {
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    .imgLogo {
        width: 64px !important;
        height: 78px !important;
        top: 16px !important;
        left: 38px !important;
    }

    .inputField {
        width: 346px;

    }

    input {
        width: 300px;
    }

    h1 {
        font-size: 47px;
    }

    .blueSeperator {
        width: 88px;
    }

    .mobilView {
        flex-direction: column-reverse;
        gap: 16px;
        margin-right: 170px;
        align-items: start;
    }

    .logInButtonBox {
        flex-direction: column;
        gap: 20px;
    }

    .logInButton {
        width: 180px;
    }

    button {
        font-size: 16px;
    }

    .header {
        margin: 40px 50px;
    }

    .headerRight {
        width: 279px;
    }

    #logo {
        width: 100px;
        height: 122px;
    }

    #startBackground {
        background-color: #2A3647;
    }

    #passwordAlert {
        margin-right: 120px;
    }
}


/* max-height: 870px */

@media(max-height: 870px) {
    .front-main-content {
        margin-top: 115px;
        margin-bottom: 25px;
    }

    .contentbox {
        gap: 8px;
    }

    .forgotPW {
        margin-top: 0;
    }
}


/* max-height: 830px */

@media(max-height: 860px) {
    .front-main-content {
        margin-top: 80px;
    }

    .imgLogo {
        width: 50px !important;
        height: 80px !important;
    }

    .logInButtonBox {
        gap: 10px;
    }

    .logInButton {
        height: 40px;
    }

    .content {
        height: 496px;
        width: 345px;
    }

    button {
        height: 70%;
    }

    .headerRight {
        font-size: 16px;
    }

    .inputField {
        width: 305px;
    }

    input {
        width: 270px;
    }
}


@media(max-height: 930px) {
    .front-main-content {
        margin-top: 100px;
    }
}