
/*Max width 1440px*/

body {
    overflow: hidden;
}

.main-content {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.middle .header {
    position: relative;
}

.header:after {
    content: "";
    width: 6000px;
    height: 96px;
    position: absolute;
    right: 0px;
    left: 100%;
    top: 0px;
    background: #fff;
    display: inline-block;
}

.sidebar {
    position: relative;
}

.sidebar:before {
    content: "";
    width: 6000px;
    position: absolute;
    left: -6000px;
    height: 100%;
    top: 0px;
    background: #2a3647;
    display: inline-block;
}

/*End max width 1440px */

.main-content {
    display: flex;
    height: 100%;
}

.middle {
    display: flex;
    order: 2;
    flex-direction: column;
    flex: 1;
}

.middle .header {
    display: flex;
    align-items: center;
    height: 96px;
    background: #fff;
    margin: 0px;
    width: 100%;
    justify-content: space-between;
}

span#slogan {
    margin-left: 100px;
}

.middle .headerRight {
    width: unset;
    height: unset;
}

.middle .content {
    display: block;
    margin: 100px;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0px;
    line-height: 1em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(232px - 80px);
    background: #2A3647;
    padding: 40px;
}

.sidebar a {
    color: #fff;
}