
/*Max width 1440px*/

body {
    overflow: hidden;
}

.main-content {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.middle .header {
    position: relative;
}

.middle .headerRight,
.middle .headerLeft {
    position: relative;
    z-index: 7;
}

.middle .header:before {
    content: "";
    position: absolute;
    left: 0;
    width: 9000px;
    height: 96px;
    background: #fff;
    z-index: 6;
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.sidebar {
    position: relative;
}

.sidebar:before {
    content: "";
    width: 6000px;
    position: absolute;
    left: -6000px;
    height: 100%;
    top: 0px;
    background: #2a3647;
    display: inline-block;
}

/*End max width 1440px */

.main-content {
    display: flex;
    height: 100%;
}

.middle {
    display: flex;
    order: 2;
    flex-direction: column;
    flex: 1;
}

.middle .header {
    display: flex;
    align-items: center;
    height: 96px;
    background: #fff;
    margin: 0px;
    width: 100%;
    justify-content: space-between;
}

a.logo {
    margin-bottom: 100px;
}

span#slogan {
    margin-left: 100px;
}

.middle .headerRight {
    width: unset;
    height: unset;
}

.middle .content {
    display: block;
    margin: 100px;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 0px;
    line-height: 1em;
}

.title span {
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
}

span#welcomemsgtime {
    font-family: Inter;
    font-size: 47px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
}

span#welcomemsguser {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: #29ABE2;
    display: block;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(232px - 80px);
    background: #2A3647;
    padding: 40px;
}

.sidebar a {
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu a {
    text-decoration: none;
}