<div class="headerLeft">
    <span id="slogan">Kanban Project Management Tool</span>
</div>
<div class="headerRight">
    <a href="help.html" id="help" class="help"><img src="/assets/img/summary/help.svg" alt="Help-Icon" class="def-icon"><img src="/assets/img/summary/help-hover.svg" alt="Help-Icon" class="hov-icon"></a>
    <div class="account"><div id="myaccount" onclick="showMenu()"></div><div id="headsubmenu" style="display:none;"><div class="flex-col"><a href="impressum.html">Impressum</a><a href="#">Logout</a></div></div></div>
</div>