<div class="headerLeft"><img src="assets/img/logo-mobile.svg" alt="JOIN Logo" class="onlymob logo-mob">
    <span id="slogan">Kanban Project Management Tool</span>
</div>
<div class="headerRight">
    <a href="help.html" id="help" class="help"><img src="/assets/img/summary/help.svg" alt="Help-Icon" class="def-icon"><img src="/assets/img/summary/help-hover.svg" alt="Help-Icon" class="hov-icon"></a>
    <div class="account"><div id="myaccount" onclick="showMenu()"></div><div id="headsubmenu" style="display:none;"><div class="flex-col"><a href="help.html" class="onlymob">Help</a><a href="legal.html">Legal notice</a><a href="privacy.html" class="onlymob">Privacy Policy</a><a href="#">Logout</a></div></div></div>
</div>