<div class="sidebar-top">
    <a href="index.html" class="logo"><img src="assets/img/logo-w.svg" alt="Join Logo" title="Join"></a>
    <div class="menu" id="menu">
        <a href="/summary.html"><p class="img-dark"><img src="assets/img/summary/menu-1.svg"></p><p class="img-white"><img src="assets/img/summary/menu-1-w.svg"></p><span>Summary</span></a>
        <a href="/board.html"><p class="img-dark"><img src="assets/img/summary/menu-2.svg"></p><p class="img-white"><img src="assets/img/summary/menu-2-w.svg"></p><span>Board</span></a>
        <a href="/add_task.html"><p class="img-dark"><img src="assets/img/summary/menu-3.svg"></p><p class="img-white"><img src="assets/img/summary/menu-3-w.svg"></p><span>Add Task</span></a>
        <a href="/contacts.html"><p class="img-dark"><img src="assets/img/summary/menu-4.svg"></p><p class="img-white"><img src="assets/img/summary/menu-4-w.svg"></p><span>Contacts</span></a>
    </div>
</div>
<div class="legal-links">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal notice</a>
</div>